<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789953180613-8bb00iqk7kduqlad05go81ib1per31ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789953180613-8bb00iqk7kduqlad05go81ib1per31ut</string>
	<key>API_KEY</key>
	<string>AIzaSyDPnR3_g96TngFZIbPrH_nnvs3UnfniZaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>789953180613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leemccormick.LeeFriendList</string>
	<key>PROJECT_ID</key>
	<string>leefriendlist</string>
	<key>STORAGE_BUCKET</key>
	<string>leefriendlist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789953180613:ios:bb157b25642f651eae91ac</string>
</dict>
</plist>